.book
  img.spine(src="{{Book.spine_url}}")
  .detail-view
    img.cover(src="{{Book.cover_url}}")
    .detail
      h5 {{Book.title}}
      h6 {{Book.author}}
      h6(*ngIf="Book.series") {{Book.series}} {{Book.series_number}}
      p {{Book.description}}
