img
  height 100%

.book
  display inline-block
  height 300px
  &:hover
    .spine
      display none
    .detail-view
      display flex

.detail-view
  display none
  height 100%
  width 400px
  background-color #000000
  color #FFFFFF
  .detail
    height 100%
    overflow-y auto
